/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}

.top-link-lf , .top-link-rt {
	ul {
		li {
			display:inline;
			margin:0 10px;
			a {
				font-family:arial;
				color:white;
				font-size:12px;
				i {
					color:white;
				}
			}
		}
	}
}
.navbar-default {
	background-color:transparent;
	border:none;
	#navbar {
		margin-top:40px;
	}
}
.slider {
	background-image: url('../img/home-without-effect.jpg');
}
.slider-txt {
	padding: 182px 0;
	h2 {
		font-size: 40px;
		font-family: arial;
		font-weight: bold;
		color: black;
		span {
			color: #ffe400;
			background-color: black;
		}
	}
	h3 {
		font-size: 40px;
		font-family: arial;
		color: black;
	}
	p {
		font-family: arial;
		font-size: 16px;
		color: #868585;
		margin-top: 39px;
	}
	a {
		padding:15px 20px;
		border: 1px solid black;
		font-size: 18px;
		font-family: arial;
		display: inline-block;
		border-radius: 40px;
		color: black;
		margin-top: 56px;
		text-decoration: none;
	}
}
.grey-txt {
	text-align: center;
	padding-top: 132px;
	margin-bottom: 85px;
	h2 {
		font:30px arial;
		font-weight: bold;
		color: #888888;
		span {
			color: black;
		}
	}
	h3 {
		font:18px arial;
		color: #888888;
		margin-top: 30px;
	}
	p {
		font:12px arial;
		font-weight: bold;
		color: #888888;
		margin-top: -14px;
	}
}
.one-third {
	text-align: center;
	margin-bottom: 123px;
	h3 {
		font:18px arial;
		color: #868686;
	}
	p {
		font:13px arial;
		color: #868686;
	}
	h5 {
		font:13px arial;
		color: #4c4c4c;
		border-bottom: 2px solid #ffe400;
		display: inline-block;
		padding-bottom: 13px;
	}
}

.grey-txt1 {
	text-align: center;
	padding-top: 132px;
	margin-bottom: 160px;
	h2 {
		font:30px arial;
		color: #ffe400;
		font-weight: bold;
		span {
			color: #888888;
		}
	}
	p {
		margin-top: -14px;
		font:13px arial;
		color: #a8a9ab;
	}
}
.blog-area {
	text-align: center;
}
.blogs {
	text-align: center;
	border:1px solid #b39d08;
	padding-top: 45px;
	padding-bottom: 50px;
	padding-right: 30px;
	padding-left: 30px;
	
	h2 {
		font:25px arial;
		color: #64656b;
	}
	p {
		font:14px arial;
		color: #64656b;
		font-weight: bold;
	}
}
.blogs-icon {
	i {
		width: 100px;
		height: 100px;
		line-height: 100px;
		background-color: #b39d08;
		border-radius: 50%;
		text-align: center;
		color: black;
		top:-59px;
		right: 0px;
		left: 135px;
		position: absolute;
	}
}
.post-area {
	ul {
		text-align: center;
		li {
			display: inline;
			margin:12px;
			a {
			display: inline-block;;
			font:14px arial;
			color: black;
			padding:12px 40px;
			border:1px solid #bdbdbd;
			text-decoration: none;
			}
		}
	}
}
.back-black {
	background-color: #333333;
	padding:80px 0;
}
.count {
	color: #a5a5a5;
	text-align: center;
	h3 {
		font:35px arial;
		color: #a5a5a5;
	}
	p {
		font:12px arial;
		color: #a5a5a5;
	}
}
.back-grey {
	background-color: #ededed;
	margin-top: 10px;
	padding-bottom: 133px;
	margin-bottom: 10px;
}
.grey-rt {
	p {
		font:14px arial;
		color: #333333;
		line-height: 26px;
	}
	ul {
		list-style: none;
		margin-top: 50px;
		padding: 0;
		li {
			margin-bottom: 18px;
			a {
				font:14px arial;
				color: #616161;
				text-decoration: none;
				i {
					color: #ffe400;
					margin-right: 15px;
			}	}
		}
	}
	.btn {
		margin-top: 50px;
		a {
		display: inline-block;
		color: black;
		font:14px arial;
		padding:20px 40px;
		background-color: #ffe400;
		border-radius: 30px;
		font-weight: bold;
		text-decoration: none;
		-webkit-transition: all .40s ease-in-out;
		   -moz-transition: all .40s ease-in-out;
		    -ms-transition: all .40s ease-in-out;
		     -o-transition: all .40s ease-in-out;
		        transition: all .40s ease-in-out;
		}
		a:hover {
			background-color: black;
			color: #ffe400;
			cursor: pointer;
		}
	}
}
.panel-tabs > li {
	float: none;
	display: inline-block;
}
.one-four {
	h4 {
		font:22px arial;
		color: #515050;
		font-weight: bold; 
	}
	p {
		font:13px arial;
		color: #515050;
		margin-top: 20px;
		font-weight: bold;
	}
	ul {
		list-style: none;
		padding: 0px;
		margin-top: 20px;
		li {
			display: inline;
			i {
				border:1px solid #515050;
				width: 35px;
				height: 35px;
				line-height: 35px;
				text-align: center;
				border-radius: 50%;
				-webkit-transition: all .45s ease-in-out;
				   -moz-transition: all .45s ease-in-out;
				    -ms-transition: all .45s ease-in-out;
				     -o-transition: all .45s ease-in-out;
				        transition: all .45s ease-in-out;
			}
			i:hover {
				background-color: black;
				color: #ffe400;
				cursor: pointer;
			}
		}
	}
}
.one-four2 {
	h4 {
		font:22px arial;
		color: #515050;
		font-weight: bold; 
		margin-bottom: 20px;
	}
	ul {
		list-style: none;
		padding: 0px;
		li {
		font:13px arial;
		color: #515050;
		font-weight: bold;
		margin-bottom: 5px;
		}
	}
	input {
		height: 40px;
		width: 100%;
		padding-left: 15px;
		margin-bottom: 24px;
		color: #404245;
		background-color: #2b2a2a;
		border: none;
	}
	a {
		font:14px arial;
		font-weight: bold;
		display: inline-block;
		border: 2px solid #f5db01;
		padding: 13px 24px;
		border-radius: 25px;
		color: #f5db01;
		text-decoration: none;
		-webkit-transition: all .45s ease-in-out;
		   -moz-transition: all .45s ease-in-out;
		    -ms-transition: all .45s ease-in-out;
		     -o-transition: all .45s ease-in-out;
		        transition: all .45s ease-in-out;
	}
	a:hover {
		color: black;
		border: 1px solid black;
		background-color: #f5db01;
		cursor: pointer;
	}
}
.one-four3 {
	h4 {
		font:22px arial;
		color: #515050;
		font-weight: bold; 
		margin-bottom: 20px;
	}
	ul {
		list-style: none;
		padding: 0px;
		li {
			margin-bottom: 23px;
			a {
				font:14px arial;
				color:#818080;
				display: inline-block;
				font-weight: bold;
				i {
					margin-right: 20px;
					color: #ffe400;
				} 
			}
		}
	}

}
footer {
	background-color: #1b1919;
	padding-top: 103px;
	padding-bottom: 129px;
}